<footer class="site-footer h-card  bg-light" style="box-shadow: 0 50vh 0 50vh #FFF; pointer-events: auto;">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <div >
            <a href="https://bids.berkeley.edu/" style="border-bottom: 0 !Important;">
            <img alt="BIDS" class="footer-logo" src="https://bids.berkeley.edu/sites/all/themes/bids/assets/images/bids-logo.png" style="vertical-align:bottom;" /></a>
        </div>
      </div>

      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
